<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Amazon test suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2f4ec">  <td>22/01/22 18:32:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Mobilevalidandinvalid.close()[pri:0, instance:AsignmentONTESTNG.Mobilevalidandinvalid@67080771]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1219273867</td>   <td></td> </tr>
<tr bgcolor="a2f4ec">  <td>22/01/22 18:31:26</td>   <td>-38086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mobilevalidandinvalid.test()[pri:0, instance:AsignmentONTESTNG.Mobilevalidandinvalid@67080771]">test</td> 
  <td>main@1219273867</td>   <td></td> </tr>
<tr bgcolor="a2f4ec">  <td>22/01/22 18:31:25</td>   <td>-39272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Mobilevalidandinvalid.open()[pri:0, instance:AsignmentONTESTNG.Mobilevalidandinvalid@67080771]">&gt;&gt;open</td> 
<td>&nbsp;</td>  <td>main@1219273867</td>   <td></td> </tr>
</table>
