<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85bfbb">  <td>22/01/22 18:26:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Mobilevalidandinvalid.close()[pri:0, instance:AsignmentONTESTNG.Mobilevalidandinvalid@272ed83b]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@37926966</td>   <td></td> </tr>
<tr bgcolor="85bfbb">  <td>22/01/22 18:25:32</td>   <td>-43173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Mobilevalidandinvalid.open()[pri:0, instance:AsignmentONTESTNG.Mobilevalidandinvalid@272ed83b]">&gt;&gt;open</td> 
<td>&nbsp;</td>  <td>main@37926966</td>   <td></td> </tr>
<tr bgcolor="85bfbb">  <td>22/01/22 18:25:34</td>   <td>-41938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mobilevalidandinvalid.test()[pri:0, instance:AsignmentONTESTNG.Mobilevalidandinvalid@272ed83b]">test</td> 
  <td>main@37926966</td>   <td></td> </tr>
</table>
